out_run_2nf/
out_run_3nf/
cache_run_2nf/
cache_run_3nf/
out_golden/
out_2nf/
cache_golden/
cache_2nf/
current_hashes.txt
out_j3nf_cutoff/
out_a/
out_b/
out_c/
cache_a/
cache_b/
cache_c/
cache_j3nf_cutoff/
input_j3nf_multiblock.txt.bak
# Phase D-J W1 block-db acceptance workspace
cold_cache/
cold_out/
warm_cache/
warm_out/
shard_cache/
rest_cache/
restart_cache/
